@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
    @apply border-2 border-gray-400 rounded-md px-1 w-full;
    @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
    @apply border-blue-900;
}

h1 {
    @apply text-xl text-blue-900 mb-2;
}

label {
    @apply text-blue-900;
}

.btn-primary {
    @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}

table.basic {
    @apply w-full
}

table.basic thead tr td {
    @apply bg-blue-100;
}

table.basic tr td {
    @apply border border-blue-200 p-1;
}

table.basic a {
    @apply bg-blue-900 text-white text-sm py-1 rounded-md px-2 inline-flex gap-1 mr-1;
}


.btn-red {
    @apply bg-red-900 text-white px-4 py-1 rounded-md;
}

.btn-default {
    @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}

img{
    max-height: 100%;
}